.dashboardContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.dashboardCard {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chartContainer {
    height: 300px; /* Define a altura do gráfico */
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart {
    max-width: 100%; /* Faz o gráfico se ajustar ao card */
    height: 100%; /* Define que o gráfico ocupa 100% da altura do container */
    
}
