.header{
    border-radius: 5px;
    padding: 10px;
    
}

.menu {
    background-color: #f9f9f9;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: left; /* Centraliza o grupo de itens */
}

